/* Ubuntu */
/* Variable */
@font-face {
	font-family: 'Ubuntu';
	src: url(/fonts/ubuntu/UbuntuSans-VariableFont.ttf) format('truetype');
	font-style: normal;
	font-display: swap;
}
/* Variable italic */
@font-face {
	font-family: 'Ubuntu';
	src: url(/fonts/ubuntu/UbuntuSans-Italic-VariableFont.ttf) format('truetype');
	font-style: italic;
	font-display: swap;
}
