/* Import der Schriftart */
@import url(/fonts/fonts.css) layer(base);

/* Tailwind CSS Direktiven */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Fonts */
	--font-ubuntu: Ubuntu;

	/* Colors */
	/* Remove predefined colors by tailwind */
	--color-*: initial;
	/* Basic colors */
	--color-transparent: #00000000;
	/* Grunddesign */
	/* Klee */
	--color-primary-50: #e5f3eb;
	--color-primary-100: #cce7d7;
	--color-primary-200: #b2dcc4;
	--color-primary-300: #99d0b0;
	--color-primary-400: #66b888;
	--color-primary-500: #33a161;
	--color-primary-600: #008939; /* Klee */
	--color-primary-700: #006e2e;
	--color-primary-800: #005222;
	--color-primary-900: #003717;
	--color-primary-950: #002911;

	/* Tanne */
	--color-secondary-50: #d5eee6;
	--color-secondary-100: #beddd2;
	--color-secondary-200: #a6ccbf;
	--color-secondary-300: #8ebbab;
	--color-secondary-400: #5f9885;
	--color-secondary-500: #2f765e;
	--color-secondary-600: #005538; /* Tanne */
	--color-secondary-700: #00432c;
	--color-secondary-800: #003221;
	--color-secondary-900: #002216;

	/* Andere */
	--color-white: #ffffff;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3faf6;
	--color-gray-200: #e6ecea;
	--color-gray-300: #d1dbda;
	--color-gray-400: #9cabaf;
	--color-gray-500: #6b7a80;
	--color-gray-600: #4b5d63;
	--color-gray-700: #374951;
	--color-gray-800: #1f2f37;
	--color-gray-900: #111e27;
	--color-gray-950: #031112;
	--color-black: #000000;

	/* Sand */
	--color-neutral-500: #f7f4ed;
	--color-neutral-600: #f5f1e9; /* Sand */
	--color-neutral-700: #efe8db;

	/* Sonne */
	--color-sun-600: #fff17a;

	/* Himmel */
	--color-himmel-500: #3cb4e4;
	--color-himmel-600: #0ba1dd; /* Himmel */
	--color-himmel-700: #0981b1;

	/* Grashalm */
	--color-grashalm-500: #a1ca50;
	--color-grashalm-600: #8abd24; /* Grashalm */
	--color-grashalm-700: #6e971d;

	/* Grüne Jugend */
	--color-gruene-jugend-hellgruen: #c7ff7a;

	/* About custom colors */
	--color-gingco-blau: #00dcfe;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

/* Grundlegende Stile */
body {
	@apply font-ubuntu;
}

/* Container für den Inhalt mit Abstand */
.container {
	padding-left: 5%;
	padding-right: 5%;
	max-width: 100%;
	margin: 0 auto;
}

/* Link-Stile */
a:hover {
	@apply hover:decoration-sun-600;
	text-decoration: underline 3px;
}

/* Styles for Privacy */
@media print {
	.ms-editor-squiggles-container {
		display: none !important;
	}
}
.ms-editor-squiggles-container {
	all: initial;
}

/* Buttons */
.button-m {
	@apply py-3;
	@apply px-6;
	@apply rounded-full;
	@apply font-bold;
	@apply cursor-pointer;
}

/* Theme Switch */
@keyframes twinkle {
	0%,
	100% {
		opacity: 0.3;
		transform: scale(0.9) translateY(0);
		filter: drop-shadow(0 0 1px white);
	}
	50% {
		opacity: 1;
		transform: scale(1.2) translateY(-0.5px);
		filter: drop-shadow(0 0 3px white);
	}
}

.star {
	animation: twinkle ease-in-out infinite alternate;
	border-radius: 9999px;
}
